{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2><a href = "{% url 'books_list_pub_date' book.pub_date %}">{{book.name}}</a></h2>
                    <p>Автор: {{book.author}}</p>
                    <p> Дата публикации: {{book.pub_date}}</p>
                </div>
            {% endfor %}
{#            <div class="book col-md-4">#}
{#                <h2>1984</h2>#}
{#                <p>Автор: Джордж Оруэл</p>#}
{#                <p>Дата публикации: 2015-03-11</p>#}
{#            </div>#}
        </div>
    {% if previous_book %}
            <a class="button button-primary"
               href="{% url 'books_list_pub_date' previous_book.pub_date %}">{{ previous_book.pub_date }}</a>
        {% endif %}
        {% if next_book %}
            <a class="button button-primary"
               href="{% url 'books_list_pub_date' next_book.pub_date %}">{{ next_book.pub_date }}</a>
        {% endif %}
    </div>

{% endblock %}